	div {
		text-align: right;
	}
	.light-gray {
		background-color:rgb(225,225,225);
	}
	.white-on-black {
		background-color:black; 
		color:white;
		text-align: center;
	}
	.boxsizingBorder {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
	}
	table, th, td {
		border: 1px solid black;
		border-collapse: collapse;
	}
	td > input {
		border: 0px solid;
	}
	@media print
	{    
		.no-print, .no-print *
		{
			display: none !important;
		}
	}
	td > input  {
		width: 100%;
		height: 21px;
	}
	