<!DOCTYPE html>
<html>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="bs-sheet.css">
      <!-- Modules -->
    <script src="js/profApp.js"></script>

    <!-- Controllers -->
    <script src="js/profCtrl.js"></script>
  
<body ng-app="profApp" ng-controller="profCtrl">
	<div class="container-fluid" style="width: 7.5in; ">
	<div class="row">
		<div class="col-md-12" >
			<table style="width: 100%; border-style: solid;">
				<col width="100px">
				<col width="40px">
				<col width="40px">
				<col width="40px">
				<col width="40px">
				<col width="40px">
				<col width="60px">
				<col width="40px">
				<col width="60px">
				<col width="40px">
				<tr>
					<td style="background-color:black; color:white;">NAME:</td>
					<td colspan="4">
						<input type="text" style="width: 100%; text-align: left" ng-model="name" placeholder="name">
					</td>
					<td class="light-gray" style="width: 0.9in;">RANK:</td>
					<td  >
						<input type="number" ng-model="rank" ng-change="rankChange()" placeholder="rank">
					</td>
					<td rowspan="12" colspan="2" id="charImage" style="width: 250px;" ></td>
				</tr>
				<tr>
					<td >PROFESSION:</td>
					<td colspan="4">
						<div style="width:100%;">
							<select ng-model="selectedProfession" ng-options="p for p in professions " 
								style="width: 100%">
								<option value="">Please select a profession...</option>
							</select>
						</div>
					</td>
					<td >MOVE:</td>
					<td >
						<span>{{selectedSpecies.Move}}</span>
					</td>
				</tr>
				<tr>
					<td>SPECIES:</td>
					<td colspan="4">
						<div style="width:100%;">
							<select ng-model="selectedSpecies" ng-options="s.Species for s in species " 
								ng-change="rankChange()" style="width: 100%">
								<option value="">Please select a species...</option>
							</select>
						</div>
					</td>

					<td >TARGET#:</td>
					<td >
						<span>{{selectedSpecies.TargetNumber}}</span>
					</td>
				</tr>
				<tr>
					<td>ALIEN ABILITY:</td>
					<td colspan="4" >
					<div style="max-height:175px; min-height: 42px; overflow:auto; text-align: left">
						<span>{{selectedSpecies.SpecialAbility}}</span>
						</div>
					</td>
					<td >#HANDS:</td>
					<td >
						<span>{{selectedSpecies.Hands}}</span>
					</td>
				</tr>
				<tr>
					<td class="light-gray" >SKILLS</td>
					<td class="light-gray" >LEVEL</td>
					<td class="light-gray" >MOD</td>
					<td class="light-gray" >CARRY:</td>
					<td>
						<input type="number" align="left" ng-value="carry" style="width: 65px; margin-left:-10px;" placeholder="ATH X 10" >
					</td>
					<td >HP.BASE:</td>
					<td >
						<span>{{selectedSpecies.BaseHitPoints}}</span>
					</td>
				</tr>
				<tr ng-repeat="stat in stats" style="height: 21px; max-height: 21px;">
					<td><input type="text" ng-model="stat.Name"></td>
					<td><input type="number" ng-model="stat.Value" ng-change="statChange()"></td>
					<td><input type="number" ng-model="stat.Mod"></td>
					<td colspan="4"><input type="text" ng-model="stat.Note" ></td>
				</tr>
				<tr>
					<td class="light-gray">EXPERIENCE</td>
					<td colspan="2">
						<input type="number" ng-model="exp" >
					</td>
					<td colspan="4"></td></td>
					<td class="light-gray" >HIT POINTS:</td>
					<td colspan="1">
						<input type="number" ng-model="hp" placeholder="ATH + RANK + H.P. BASE" >
					</td>
				</tr>
				<tr>
					<td class="light-gray">PRESTIGE</td>
					<td colspan="2">
						<input type="number" ng-model="prestige" >
					</td>
					<td class="light-gray" colspan="2">CREDITS:</td>
					<td colspan="2">
						<input type="number" ng-model="credits" >
					</td>
					<td class="light-gray">LUCK:</td>
					<td colspan="1">
						<input type="number" ng-model="luck" placeholder="RANK + 5" >
					</td>
				</tr>
				<tr>
					<td colspan="5">
						<table style="width: 100%; border-style: solid; ">
							<col width="35%">
							<col width="10%">
							<col width="50%">
							<col width="15%">
							<tr>
								<th colspan="4" class="light-gray" style="text-align: center">EQUIPMENT</th>
							</tr>
							<tr>
								<td class="white-on-black">ITEM</td>
								<td class="white-on-black">MASS</td>
								<td class="white-on-black">NOTES</td>
								<td class="white-on-black">STATUS</td>
							</tr>
							<tr ng-repeat="item in items" style="height: 21px; max-height: 21px;">
								<td><input type="text" ng-model="item.name" style="text-align: left;" ></td>
								<td><input type="number" ng-model="item.mass" ng-change="updateMass()" ></td>
								<td><input type="text" ng-model="item.notes" style="text-align: left;" ></td>
								<td><input type="text" ng-model="item.status" style="text-align: left;" ></td>
							</tr>
							<tr style="height: 21px; max-height: 21px;">
								<td>TOTAL MASS:</td>
								<td><span>{{ TotalMass }} </td>
								<td></td>
								<td></td>
							</tr>
						</table>
					</td>
					<td colspan="4">
						<table style="width: 100%; border-style: solid; ">
							<col width="25%">
							<col width="25%">
							<col width="15%">
							<col width="15%">
							<tr>
								<th colspan="4" class="light-gray" style="text-align: center">SPECIAL ABILITIES</th>
							</tr>
							<tr>
								<td class="white-on-black">ABILITY</td>
								<td class="white-on-black">NOTES</td>
								<td class="white-on-black">POOL</td>
								<td class="white-on-black">USED</td>
							</tr>
							<tr ng-repeat="ability in abilities" style="height: 21px">
								<td><input type="text" ng-model="ability.name" style="text-align: left;" ></td>
								<td><input type="text" ng-model="ability.notes" style="text-align: left;" ></td>
								<td><input type="text" ng-model="ability.pool"></td>
								<td><input type="text" ng-model="ability.used"></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<div class="row no-print" style="margin: 10px; ">
		<div class="col-md-2">
			<form data-ng-submit="addItem()" >
				<input type="submit" value="Add Item" class="btn btn-primary" />
			</form>
		</div>
		<div class="col-md-4">
			<select ng-model="selectedItem" ng-options="item.Name for item in equipment " ng-change="itemChange()"
				style="width: 100%">
			</select>
		</div>
		<div class="col-md-2">
			<form data-ng-submit="addAbility()" >
				<input type="submit" value="Add Abiliy" class="btn btn-primary" />
			</form>
		</div>
		<div class="col-md-4">
			<select ng-model="selectedAbility" ng-options="ability.Name for ability in specialAbilities" ng-change="itemChange()"
				style="width: 100%">
			</select>
		</div>
	</div>
	<div class="row no-print" style="margin: 10px;">
		<div class="col-md-6" style="text-align: left; height: 75px; ">
			<span style="width: 100%">{{itemInfo}}</span><br>
			<span>{{itemEffect}}</span>
		</div>
		<div class="col-md-6" style="text-align: left; height: 75px; ">
			<span style="width: 100%">{{selectedAbility.Name}}</span><br>
			<span>{{selectedAbility.Description}}</span><br>
			<span>{{selectedAbility.Pool}}</span>
		</div>
	</div>
	<div class="row no-print" style="margin: 10px; ">
		<div class="col-md-2">
			<form data-ng-submit="saveCharacter()" >
				<input type="submit" value="Save" class="btn btn-primary" />
			</form>
		</div>
		<div class="col-md-2">
			<form data-ng-submit="loadCharacter()" >
				<input type="submit" value="Load" class="btn btn-primary" />
			</form>
		</div>
		<div class="col-md-2">
			<select ng-model="loadName" ng-options="n for n in names " 
				style="width: 100%">
			</select>
		</div>
		<div class="col-md-2">
		</div>
	</div>
</body>